@import url("./css/font-awesome.min.css");

@font-face{font-family: "1";src: url("./fonts/OpenSans-Regular.ttf") format("truetype");}
@font-face{font-family: "2";src: url("./fonts/DINBdA.ttf") format("truetype");}

body 
{
	margin: 0;
	width:100%;
	height:100%;
	background-color: #FFFFFF;
	font-size: 15px;
	font-family: "1", Arial, sans-serif;
}
h1, h2, h3 , h4, h5, h6 {
	font-family: "2";
	font-weight: 100;
}
h1, h2, h3 {
	line-height: 1.3em;
}

a {
	color: #FFF;
}

.ov_message {
	background-color:#01448A; 
	color: #EEE; 
	padding: 10px 0; 
	text-align:center;
	font-size: 0.7em;
}

.contenedor_logo_sup {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 125px;
    background-color: #F9F9F9;
    border-bottom: 1px solid #EEEEEE;
}
.contenedor_logo_sup img {
    max-width: 99%;
    max-height: 100%;
    padding: 3px 0;
    box-sizing: border-box;
}
.provincias img {
    width: 320px;
	max-width: 98%;
    opacity: 0.95;
}

.ov_header {
	width: 100%;
	position: relative;
	height: 45px;
	background-color: #007BB5;
	border-bottom: 6px solid #005577;
}
.ov_header ul {
	width: 96%;
	min-width: 240px;
	max-width: 940px;
	margin: auto;
	padding: 0px;
	font-size: 0.9em;
	list-style-type: none;
}
.ov_header li a {
	width: 80px;
	margin: 12px 10px;
	padding: 4px 10px;
	text-decoration: none;
	float: left;
	color: #555;
	text-transform: uppercase;
	color: #FFF;
}
.ov_header li a:hover {
	background-color: #005577;
}

.ov_logo {
	float: left;
	padding-top: 25px;
	width: 100%;
	margin: 10px 0;
	text-align: center;
}
.ov_logo img {
	max-width: 96%;
}

.ov_contenedor {
	width: 96%;
	min-width: 240px;
	max-width: 940px;
	padding: 2%;
	margin: 5px auto;
	font-size: 0.95em;
	line-height: 1.5em;
	text-align:center;
}

.ov_title_01 {
	font-weight: bold;
	padding: 5px;
	text-align: center;
	margin-bottom: 15px;
	border-bottom: 5px solid #01448A;
}

.ov_title_01  img {
	max-width: 100%;
}

.ov_lista {
	counter-reset: li;
	list-style: none;
	padding: 0 0 0 20px;
}
.ov_lista li {
	margin: 15px 5px;
}
ol.ov_lista > li:before {
	counter-increment: li;
	content: counter(li);
	color: #FFF;
	background-color: #DDD;
	text-align: center;
	width: 20px;
	height: 20px;
	line-height: 15px;
	border-radius: 20px;
	font-size: 1.4em;
	padding: 5px;
	margin-right: 5px;
	display: inline-block;
}
/*ul.ov_lista > li:before {
	content: "*";
	color: #FFF;
	background-color: #01448A;
	text-align: center;
	width: 10px;
	height: 10px;
	line-height: 15px;
	border-radius: 20px;
	font-size: 1.2em;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: inline-block;
}*/

i {
	margin: 5px;
	font-size: 0.9em;
}
i.fa {
    font-size: 1.75em;
}

.clear {
	clear: both;
}
.clear_02 {
	padding-top: 5px;
	clear: both;
}